<ion-header>
  <ion-navbar>
    <ion-title>位置情報</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Enable High Accuary</ion-label>
      <ion-toggle #t1
      [checked]="enableHighAccuracy"
      (ionChange)="onHighAccuracyChange(t1.checked)"></ion-toggle>
    </ion-item>
  </ion-list>

  <button ion-button block (click)="getLocation()">位置情報取得</button>

  <ion-card *ngIf="isLocAvail">
    <ion-card-header>
      <ion-icon name="pin"></ion-icon>
      Coordinates
    </ion-card-header>
    <ion-card-content>
      {{loc_lat}}, {{loc_lng}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isLocAvail&&rev_geo">
    <ion-card-header>
      <i class="fa fa-map-signs"></i>
      Address
    </ion-card-header>
    <ion-card-content>
      {{rev_geo}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isLocError&&!isLocAvail">
    <ion-icon name="warning"></ion-icon>
    Unabled to get your location information.
  </ion-card>
</ion-content>
